################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/Lox/v15
/obj/x86/Debug
/.vs
/.editorconfig
/obj/x86/Release
/packages/System.Collections.NonGeneric.4.3.0
/packages.config
/app.config
/bin/Release
/Todo.md
/bin/x64/Release
/obj/x64/Release
*.test
