################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.editorconfig
/obj/
/packages/System.Collections.NonGeneric.4.3.0
/packages.config
/app.config
/Todo.md
/bin/
*.test
/tests/testDifference.txt
/Properties
/cslox
